FIREBASE_SERVICE_ACCOUNT_FILE=serviceAccountKey.json
FIRESTORE_DATABASE_ID=(default)
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_PRIVATE_KEY_PATH=
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_SLUG=vanguardci
FRONTEND_URL=http://localhost:5173
